<h2>My bikes</h2>

<div>
  <label>Bike name:
    <input #bikeName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(bikeName.value); bikeName.value=''">
    add
  </button>
</div>

<table>
  <tr>
    <td>
      <ul class="bikes">  
        <li *ngFor="let bike of bikes"
        [class.selected]="bike === selectedBike"
         (click)="onSelectBike(bike)">
          <a routerLink="/bike/{{bike.id}}">
            <span class="badge">{{bike.id}}</span> {{bike.name}}
          </a>
          <button class="delete" title="delete bike"
            (click)="delete(bike)">x</button>
        </li>     
      </ul>
    </td>
    <td>
      <app-bike-detail [bike]="selectedBike"></app-bike-detail>
    </td>
  </tr>
</table>



